body
{
    background: #454647;
}

.button {
    position: absolute;
    top: 17%;
    left: 90%;
}

.btn1
{
    left: 85%;
}

.i1
{
    color: #fff;
}

.i2
{
    color: #fff;
}

i:hover {
    color: rgb(192, 192, 192);
}

.hide
{
    display: none;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }