body
{
    background: #454647;
    width: 100%;
    height: 100%;
}

.button {
    position: absolute;
    top: 17%;
    left: 90%;
}

.btn1
{
    left: 85%;
}

.i1
{
    color: #fff;
}

.i2
{
    color: #fff;
}

i:hover {
    color: rgb(192, 192, 192);
}

.hide
{
    display: none;
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.badge-premium-false {
    display: none;
}

.badge-premium-true {
    display: inline-block;
    color: rgb(255, 208, 0);
}

.premiumtrue:hover {
    color: rgb(255, 208, 0);
}

.verified-false {
    display: none;
}

.verified-true {
    display: inline-block;
}

.verified__true:hover {
    color: white;
}